form(method='post', action='/findStockBySymbol')
    label Your current money is: 
    input(type='text', readonly, name='current_money', value= transaction.attributes.currentMoney)
    hr
    -var n = 0
    div
      table
        thead
          tr
            th Stock Symbol
            th= " || "
            th Shares
        tbody
          each stock in transaction.attributes.stocksInHand
            if stock.share != "0"
              tr
                td
                  a(href='/findStockBySymbol/' + stock.symbol)= stock.symbol
                td= " || "
                td= stock.share
            else
              -n++
    if n==transaction.attributes.stocksInHand.length
      p You has no stocks right now
    br
    hr
    select(name = "stock_symbol")
      each stock in stocks
        option(value= stock.attributes.symbol)= stock.attributes.symbol + " || " + stock.attributes.name
    input(type='submit', value='Submit')

form(method='post', action='/mobile/checkout')
  input(type='hidden', name='transaction_id', value= transaction.id)
  input(type='submit', value='Checkout')
a.button(href='/checkout/' + transaction.id) checkout
