p NEW YORK STOCK EXCHANGE
h2= stock.symbol

table
    tr
      th QUOTE
    tr
      th Last Price
      th DAY CHANGE
    tr
      td= stock.LastTradePriceOnly
      td= stock.Change_PercentChange
    tr
      td= stock.LastTradeDate
      td= stock.LastTradeTime + "|"
      td= stock.Currency
table
    tr
      th BID
      th BID SIZE
      th ASK
      th ASK SIZE
      th HIGH
    tr
      td= stock.Bid
      td= stock.BookValue
      td= stock.Ask
      td= stock.AskRealTime
      td= stock.DaysHigh

form(method='post', action='/buy')
    input(type='number', name='buy_number')
    input(type='hidden', name='stock_symbol', value= stock.symbol)
    input(type='hidden', name='transaction_id', value= transaction_id)
    input(type='submit', value='Buy')

form(method='post', action='/sell')
    input(type='number', name='sell_number')
    input(type='hidden', name='stock_symbol', value= stock.symbol)
    input(type='hidden', name='transaction_id', value= transaction_id)
    input(type='submit', value='Sell')
